<div class="container mt-5">
    {% if success_message is defined %}
        {{ success_message }}
    {% endif %}
    <h1>Benutzer bearbeiten</h1>
    <div style="margin-top: 40px"></div>
    <form action="{{ php_self }}" method="post">
        <input type="hidden" value="{{ userid }}" id="userid" name="userid">
        <div class="mb-3">
            <label for="username" class="form-label">
                <i class="bi bi-person"></i>&nbsp; Benutzername:
            </label>
            <div class="required-field-block">
                <input type="text" class="form-control" id="username" name="username" value="{{ username }}" required>
                <div class="required-icon">
                    <div class="text">*</div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">
                <i class="bi bi-envelope-at"></i>&nbsp; E-Mail-Adresse:
            </label>
            <div class="required-field-block">
                <input type="text" class="form-control" id="email" name="email" value="{{ email }}" required>
                <div class="required-icon">
                    <div class="text">*</div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <input type="checkbox" class="form-check-input" id="newPassword" name="newPassword">
            <label class="form-check-label" for="newPassword">Neues Passwort?</label>
        </div>
        <div class="mb-3" id="passwordDiv" style="display: none">
            <label for="password" class="form-label">
                <i class="bi bi-key"></i>&nbsp; Passwort:
            </label>
            <div class="required-field-block">
                <input type="password" class="form-control" id="password" name="password">
                <div class="required-icon"><div class="text">*</div></div>
            </div>
            <small id="helpTextPassword" name="helpTextPassword" style="color: red"></small>
        </div>
        <div class="mb-3" id="confirmPasswordDiv" style="display: none">
            <label for="confirmPassword" class="form-label">
                <i class="bi bi-key"></i>&nbsp; Passwort bestätigen:
            </label>
            <div class="required-field-block">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                <div class="required-icon"><div class="text">*</div></div>
            </div>
            <small id="helpTextConfirmPassword" name="helpTextConfirmPassword" style="color: red"></small>
        </div>
        <div class="mb-3">
            <input type="checkbox" class="form-check-input" id="2fa" name="2fa" {{ 2fa_activated }}>
            <label class="form-check-label" for="2fa">2-Faktor-Authentifizierung</label>
        </div>
        {% if 2fa_activated == 'checked' %}
        <div class="mb-3">
        <input type="checkbox" class="form-check-input" id="new_2fa" name="new_2fa">
        <label class="form-check-label" for="new_2fa">Aktuelle 2-Faktor-Authentifizierung löschen?</label>
        </div>
        {% endif %}
        <div style="margin-top: 20px"></div>

        <button type="submit" id="submit" name="submit" class="btn btn-primary">Speichern</button>
    </form>
</div>

<div style="margin-top: 50px;"></div>